# /etc/systemd/system/reminder.service
# TODO: testing file changes
[Unit]
Description=Systemd job that creates timed reminders the week and day prior to a scheduled backup

[Service]
Type=oneshot
ExecStart=/root/logging.sh