# /etc/systemd/system/backup.service
[Unit]
Description=Systemd job that creates a custom backup of a Linux OS

[Service]
Type=oneshot
ExecStart=/root/backup.sh
