# /etc/systemd/system/backup.timer
[Unit]
Description=Custom timer that triggers a systemd job to create a custom backup of a Linux OS

[Timer]
OnCalendar=*:0/10
Persistent=true

[Install]
WantedBy=timers.target
